/* fonts of the website 
-----------------
font1: Archivo
font2: Open Sans 
-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

/* hero-section view */
.hero-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    justify-content: center;
    background-color: black;
    margin: 50px 100px;
    margin-bottom: 0px;
    border-radius: 20px;
    padding: 100px;
    padding-bottom: 0px;
}
/* herosection Title */
.hero-title{
    font-family: 'Archivo', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: white;
}
/* Hero section image */
.hero-image img{
    width: 100%;
    margin-bottom: -4px;
}
/* Hero section regular text */
.hero-regular{
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
/* Hero section button */
.hero-button{
    background-color: #014b01;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 25px;
    border-radius: 10px;
}
/* Space for Icon */
.fa-solid{
    padding-left: 10px;
}

/* ===================================================
Second Live section
========================================== */


/* Top of the section */
.container2{
    display: flex;
    column-gap: 20px;
    margin: 50px 100px;
}

/* Three button */
.multiple-button{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    width: 280px;
    height: 200px;
    text-align: center;
    padding: 15px;

}

/* Buton directly */
.direct-buttons{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px 22px;
    

}

/* Blog button for change color */
.button3{
    background-color: #014b01;
    color: white;
}

/* Video live section  */
.main-live{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    font-family: 'Open Sans', sans-serif;
}


/* image of live sections  */
.live-images{
    width: 100%;
    padding-bottom: 20px;
}
.child-live a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid black;
    padding: 4px 16px;
    border-radius: 5px;
    color: black;
}
.child-live p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
}

.parent-icon-texts{
    display: flex;
    align-items: center;

}
.parent-icon-texts img,span{
    margin-right: 10px;
}




/* ==============================================
Footer Section
=============================================== */
/* Main section of footer  */
.main-footer{
    background-color: #161616;
    color: #ffffff;
    text-align: center;
    padding: 50px 100px;
}

/* Footer section title  */
.footer-title{
    font-size: 40px;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}

.footer-hr{
    size: .5px;
}

/* footer tags  */
.six-tags{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
}


/* -----------------------------------------------------------
For next page of (upcomming)
-----------------------------------------------------------
*/

/* For multiple section with text */
.flag-live{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    text-align: center;

}

/* single section of live */
.sec-child{
    border: 1px solid rgba(128, 128, 128, 0.514);
    padding: 30px;
    border-radius: 10px;
}

/* For single section */
.sub-sec-child{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}

/* For text between flgs */
.sub-sec-child span{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

/* images all */
.sec-child img{
    width: 100%;
}

/* flag seciton first text */
.reg1-flag{
    padding-top: 10px;
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

/* flag section second text */
.reg2-flag{
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* ================================================================================================================================================================================================================================================================================================
Responsive website for mobile
========================================= */
@media (max-width: 770px){

    /* hero-section view */
    .hero-section{
        padding: 30px 40px;
        margin: 30px;
        display: block;
        text-align: center;
    }


    /* herosection Title */
.hero-title{
    font-family: 'Archivo', sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: white;
}

/* Hero section image */
.hero-image img{
    margin-top: 40px;
    margin-bottom: -34px;
    width: 100%;
}
/* Hero section regular text */
.hero-regular{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 35px;
    font-size: 14px;
}
/* Hero section button */
.hero-button{
    padding: 12px 25px;
    border-radius: 10px;
}
/* ===================================================
Second Live section
========================================== */


/* Top of the section */
.container2{
    display: block;
    margin: 30px;
}

/* Three button */
.multiple-button{
    background-color: white;

}

/* Buton directly */
.direct-buttons{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 12px 10px;
}

/* Video live section  */
.main-live{
    grid-template-columns: 1fr;
    gap: 20px;
}
/* ==============================================
Footer Section
=============================================== */

/* footer tags  */
.six-tags{
    display: block;

}

    /* For multiple section with text */
    .flag-live{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

/* ======================= View All buttons==================== */
.view-button{
    background-color: #014b01;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 25px;
    border-radius: 10px;
}





    /* -----------------------------------------------------------
For next page of (upcomming)
-----------------------------------------------------------
*/

    /* For multiple section with text */
    .flag-live{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    /* For single section */
    .sub-sec-child{
        justify-content: center;
    }

}


/* ----------------------------------- Resposive for Tab
================================================================ */

@media (min-width: 770px) and (max-width: 992px){

    /* hero-section view */
    .hero-section{
        margin: 40px;
        padding: 50px 0 0px 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    /* herosection Title */
.hero-title{
    font-size: 40px;
}

/* ===================================================
Second Live section
========================================== */

/* Top of the section */
.container2{
    flex-direction: column;
    margin: 30px;
}

/* Three button */
.multiple-button{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: white;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

}


/* Buton directly */
.direct-buttons{
    border: 1px solid gray;
    margin: 20px 20px 0px 20px;
}

/* Video live section  */
.main-live{
    margin-top: -50px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
/* ==============================================
Footer Section
=============================================== */

/* footer tags  */
.six-tags{
    display: block;

}
/* -----------------------------------------------------------
For next page of (upcomming)
-----------------------------------------------------------
*/

    /* For multiple section with text */
    .flag-live{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        margin-top: -50px;
    }
    /* For single section */
    .sub-sec-child{
        justify-content: center;
    }
}